body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.section-one {
   background-color: #1f2937; 
}

.header{
    
    display: flex;
    margin-bottom: 40px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    margin: 0;
}